@mixin importFont($fontName, $format: "ttf") {
  @font-face {
    font-family: $fontName;
    src: url("../fonts/#{to-lower-case(#{$fontName})}.#{$format}")
      format("#{$format}");
  }
}

$fonts: "Arial", "ArialBd", "ArialBi", "ArialI", "ArialK", "Georgia", "GeorgiaB",
  "GeorgiaI", "GeorgiaZ";

@each $font in $fonts {
  @include importFont($font);
}
