.friends {
    background-color: var(--light-l);

    &-btn {
        position: relative;
        top: 36px;
        padding: 15px 0;
        @include hw(52px, 259px);

        span {
            font-family: Georgia;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.06em;
            text-align: left;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 66px;
        @include minmax-h(877px);

        h3 {
            &.heading {
                position: relative;
                top: 9px;
                left: 1px;
            }

            font-family: Georgia;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0.06em;
            text-align: center;
        }

        .cards {
            display: flex;

            .arrow {
                align-self: center;
                position: relative;
                &-left,
                &-right {
                    top: 23px;
                }
                &-left {
                    right: 8px;
                }
                &-right {
                    left: 8px;
                }
            }

            &-inner {
                display: flex;
                .card {
                    margin: 45px;
                    position: relative;
                    top: 22px;
                    &-description {
                        padding-top: 27px;
                    }
                    h3 {
                        font-family: Georgia;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                    }
                    .button {
                        padding: 15px 0;
                    }
                    button {
                        span {
                            font-family: Georgia;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0.06em;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
