.help {
    display: flex;
    flex-direction: column;
    .content {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        h3 {
            padding-bottom: 60px;
            margin-left: 2px;

            font-family: Georgia;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 45px;
            letter-spacing: 0.06em;
            text-align: center;
        }
        .first-row {
            display: grid;
            grid-template-columns: 256px 217px 233px 220px 274px;
            padding-bottom: 56px;
        }
        .second-row {
            margin: 0 10%;
            display: grid;
            grid-template-columns: 192px 238px 268px 280px;
        }
    }
}
