@mixin minmax-w($w) {
    min-width: $w;
    max-width: $w;
}

@mixin minmax-h($h) {
    min-height: $h;
    max-height: $h;
}

@mixin minmax($h, $w: $min-width) {
    @include minmax-w($w);
    @include minmax-h($h);
}

@mixin hw($h, $w) {
    height: $h;
    width: $w;
}

@mixin hwi($h, $w) {
    height: $h !important;
    width: $w !important;
}

@mixin hover() {
    cursor: url("/assets/imgs/cursors/hover.png"), pointer !important;
    * {
        cursor: url("/assets/imgs/cursors/hover.png"), pointer !important;
    }
}
