mixin button(text, bg = false, ...rest)
    if (bg)
        .button.bg&attributes(...rest)
            button
                span=text
    else
        .button&attributes(...rest)
            button
                span=text
mixin arrow(...rest)
    .arrow&attributes(...rest)
        img(src=arrow, alt="arrow")
