mixin card(text, buttonText, bg = false, image = slide1, ...rest)
    .card&attributes(...rest)
        .card-img
            img(src=image, alt="card-image")
        .card-description
            h3=text
            +button(buttonText, bg)

mixin card-small(text, image = toys)
    .card-small
        .card-small-img
            img(src=image, alt="card-image")
        .card-small-description
            span=text
