extends layouts/base

include ./include

block styles
    link(rel="stylesheet", href="./assets/styles/styles.scss")

block content
    +card("Hello World", "hello")
    br
    br
    +card("Hello World", "hello", true)
