extends layouts/base.pug

block styles
    link(rel="stylesheet", href="assets/styles/styles.scss")

block content
    div(style="display: flex;")
        +card("Hello World", "hello")
        br
        br
        +card("Hello World", "hello", true)
        br
        br
        +card-small("Hello World")
