extends layouts/base


block styles
    link(rel="stylesheet", href="./assets/styles/styles.scss")

block header
    section.first-screen
        header.header
            .logo
                h1 cozy house
                p Shelter for pets in Boston
            nav
                ul
                    li.is-active About the shelter
                    li Our pets
                    li Help the shelter
                    li Contacts
        .content.bg
            .content-inner
                h2 Not only people <br> need a house
                p
                    | We offer to give a chance to a little and nice puppy with an extremely wide and open heart.
                    | He or she will love you more than anybody else in the world, you will see!
                +button("Make a friend", true)
            img(src=startScreen, alt="puppy")

block content
    main
        section.about
            .content
                .about-img
                    img(src=about, alt="puppy")
                .content-inner
                    h3 About the shelter <br>“Cozy House”
                    p
                        | Currently we have 121 dogs and 342 cats on our hands and statistics show that only 20% of them will find a family.
                        | The others will continue to live with us and will be waiting for a lucky chance to become dearly loved.
                    p
                        | We feed our wards with the best food and make sure that they do not get sick, feel comfortable (including psychologically) and well.
                        | We are supported by 87 volunteers and 28 employees of various skill levels.
                        | About 12% of the animals are taken by the shelter staff.
                        | Taking care of the animals, they become attached to the pets and would hardly ever leave them alone.
        section.friends
            .content
                h3.heading Our friends who <br> are looking for a house
                .cards
                    +arrow({"class": "arrow-left"})
                    .cards-inner
                        +card("Katrine", "Learn more", false, slide1)
                        +card("Jennifer", "Learn more", false, slide2)
                        +card("Woody", "Learn more", false, slide3, {"class": "is-active"})
                    +arrow({"class": "arrow-right"})
                +button("Get to know the rest", true, {"class": "friends-btn"})
        section.help
            .content
                h3 How you can help <br> our shelter
                .content-inner
                    .first-row
                        +card-small("Pet food", food)
                        +card-small("Transportation", transport)
                        +card-small("Toys", toys)
                        +card-small("Bowls and cups", bowlAndCups)
                        +card-small("Shampoos", shampoos)
                    .second-row
                        +card-small("Vitamins", vitamins)
                        +card-small("Medicines", medicines)
                        +card-small("Collars / leashes", collar)
                        +card-small("Sleeping areas", sleepingArea)
        section.donation

block footer
    footer.footer

