include ../includes.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing - Shelter
        block styles
    body
        .wrapper.header-container
            block header
        block content
        .wrapper.footer-container
            block footer

        block scripts
